.App{
  text-align: center;
}

.App-header{
  text-align: center;
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
}

.SSHTextLogo{
  text-align: center;
  position: absolute;
  top: 25px;
  left: 750px;
}
.SneaksLogo{
  text-align: center;
  position: absolute;
  top: 70px;
  left: 680px;
}

.Pop-Logo{
  text-align: center;
  height: 180px;
  position: absolute;
  top: -20px;
  left: 1000px;
}

.Password{
text-align: center;
}

.button1{
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  position: relative;
  top: 400px;
}

.WonderWoman{
  position: absolute;
  left: 0px;
}

.TheFlash{
  position: absolute;
  left: 335px;
}

.HarleyQuinn{
  position: absolute;
  left: 729px;
}

.TheJoker{
  position: absolute;
  left: 1168px;
}

.GreenArrow{
  position: absolute;
  left: 1467px;
}

.Superman{
  position: absolute;
  left: 1819px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
